.images {
	margin-top: 50px;
}
.tables {
	margin-top: 50px;
}

@media screen and (max-width: 600px) {
	body {
		display: flex;
		flex-direction: column;
		margin: 50px 30px 30px 50px;
	}
	.btn {
		margin-bottom: 8px;
		margin-left: 5px;
	}
	img {
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 700px) {
body {
		display: flex;
		flex-direction: column;
		margin: 50px 30px 30px 50px;
	}
	.btn {
		margin-bottom: 15px;
		margin-left: 5px;

	}
	img {
		margin-bottom: 15px;
	}
}


@media screen and (max-width: 800px) {
body {
		display: flex;
		flex-direction: column;
		margin: 50px 30px 30px 50px;
	}
	.btn {
		margin-bottom: 15px;
		margin-left: 5px;

	}

	img {
		margin-bottom: 15px;
	}
}

body {
		display: flex;
		flex-direction: column;
		margin: 50px 30px 30px 50px;
	}
	.btn {
		margin-bottom: 15px;
		margin-left: 5px;

	}

	img {
		margin-bottom: 15px;
	}